.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-icon-wrapper-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-accent-elm {
  color: var(--color-accent);
}
 
.footer-li10 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm18 {
  text-decoration: none;
}
 
.footer-icon15 {
  width: 23px;
  height: 25px;
}
 
.footer-icon18 {
  width: 26px;
  height: 26px;
}
 
.footer-icon20 {
  width: 26px;
  height: 24px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.elitebuilders-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.elitebuilders-container2 {
  display: none;
}
 
.elitebuilders-container3 {
  display: contents;
}
 
.elitebuilders-container4 {
  display: none;
}
 
.elitebuilders-container5 {
  display: contents;
}
