.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-icon-wrapper-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-accent-elm {
  color: var(--color-accent);
}
 
.footer-li10 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm18 {
  text-decoration: none;
}
 
.footer-icon15 {
  width: 23px;
  height: 25px;
}
 
.footer-icon18 {
  width: 26px;
  height: 26px;
}
 
.footer-icon20 {
  width: 26px;
  height: 24px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-overlay-elm {
  width: 100%;
  height: 80vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
}
 
.home-container3 {
  display: contents;
}
 
.home-thq-business-img-elm1 {
  text-decoration: none;
}
 
.home-thq-business-card-content-elm1 {
  text-decoration: none;
}
 
.home-thq-business-img-elm2 {
  text-decoration: none;
}
 
.home-thq-business-card-content-elm2 {
  text-decoration: none;
}
 
.home-thq-business-img-elm3 {
  width: 364px;
  height: 199px;
  text-decoration: none;
}
 
.home-thq-business-card-content-elm3 {
  text-decoration: none;
}
 
.home-thq-business-img-elm4 {
  text-decoration: none;
}
 
.home-thq-business-card-content-elm4 {
  text-decoration: none;
}
 
.home-thq-business-img-elm5 {
  text-decoration: none;
}
 
.home-thq-business-card-content-elm5 {
  text-decoration: none;
}
 
.home-thq-business-img-elm6 {
  text-decoration: none;
}
 
.home-thq-business-card-content-elm6 {
  text-decoration: none;
}
 
.home-thq-form-success-msg-elm {
  display: none;
}
 
.home-container4 {
  display: none;
}
 
.home-container5 {
  display: contents;
}
 
.home-container6 {
  display: none;
}
 
.home-container7 {
  display: contents;
}
 
@media(max-width: 767px) {
  .home-thq-hero-overlay-elm {
    height: 60vh;
  }
}
