.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-icon-wrapper-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-accent-elm {
  color: var(--color-accent);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.mozfumigation-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.mozfumigation-thq-success-message-elm {
  display: none;
}
 
.mozfumigation-container2 {
  display: none;
}
 
.mozfumigation-container3 {
  display: contents;
}
