.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-accent-elm {
  color: var(--color-accent);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
