.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-logo-accent-elm {
  color: var(--color-accent);
}
 
.footer-li10 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm18 {
  text-decoration: none;
}
 
.footer-icon15 {
  width: 23px;
  height: 25px;
}
 
.footer-icon18 {
  width: 26px;
  height: 26px;
}
 
.footer-icon20 {
  width: 26px;
  height: 24px;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}
