.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-icon-wrapper-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
